* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* changes here */

li {
  list-style: none;
}

.container {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
  /* bad to specify rows in this context and having to fix with 100vh */
  /* grid-template-rows: 2fr 1fr 5fr 1fr; */
  /* height: 100vh; */
}

.header {
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: 1f 4fr;
  align-items: center;
}

.header > .logo {
  grid-column: 1/2;
  text-align: left;
}

.header > .menu {
  grid-column: 2/3;
}

.header > .menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  grid-area: 2/1/4/2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.sidebar > div {
  display: grid;
  align-items: center;
}

.nav {
  grid-area: 2/2/3/3;
  display: grid;
  align-items: center;
}

.nav > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  grid-area: 3/2/4/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article > .card {
  height: 200px;
}

.footer {
  grid-area: 4/1/5/3;
  display: grid;
  align-items: center;
}
